body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    background-color: rgb(180, 92, 173);
    width: 130px;
    margin-left: 3px;
    
    padding: 15px;
    position: relative;
}
nav ul li:hover{
    background-color: grey;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul ul{
    display: block;
    margin-top: 0.99rem;
    left: -0.0999rem;

}
nav ul li ul{
    position: absolute;
    display: none;
}
nav ul li:hover ul{
    display: block;
}

nav ul ul ul{
    position: absolute;
    margin-left:160px ;
    top: -15px;
    display: none;
}
nav ul ul li:hover ul{
    display: block; 
}